<nav class="border-b dark:border-gray-500 bg-white dark:bg-gray-900">
  <div class="flex items-center justify-center h-screen">
      <div class="flex items-center">
          <button class="px-4 dark:text-white font-extrabold font-mono
          lg:text-base sm:text-4xl">rianú</button>
          <button id="switchTheme" class="lg:h-7 lg:w-7 sm:h-15 sm:w-15 flex justify-center items-center focus:outline-none text-yellow-500">
              <svg class="w-12 h-12" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path></svg>
          </button>
      </div>
      <div class="dark:text-white flex items-center absolute bottom-20
      font-mono lg:text-xs sm:text-2xl">
            <a href="https://jack.engineering" target="_blank">
              Jack F. Murphy
            </a>
      </div>
  </div>
</nav>
<script>
  document.getElementById('switchTheme').addEventListener('click', function() {
      let htmlClasses = document.querySelector('html').classList;
      if(localStorage.theme == 'dark') {
          htmlClasses.remove('dark');
          localStorage.removeItem('theme')
      } else {
          htmlClasses.add('dark');
          localStorage.theme = 'dark';
      }
  });
  if (localStorage.theme === 'dark' || (!'theme' in localStorage && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.querySelector('html').classList.add('dark')
  } else if (localStorage.theme === 'dark') {
      document.querySelector('html').classList.add('dark')
  };
</script>
